@tailwind base;
@tailwind components;
@tailwind utilities;
@import "~slick-carousel/slick/slick.css";
@import "~slick-carousel/slick/slick-theme.css";

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300&display=swap');

* {
  font-family: 'Inter', sans-serif;
  
}
.header{
  width: Fixed (1,170px)px;
height: Hug (100px)px;
padding: 12px 30px 12px 30px;
gap: 10px;
border-radius: 10px 0px 0px 0px;
opacity: 0px;
box-shadow: 0px 0px 15px 0px #00000033;

}

.cyberText{
font-family: Inter;
font-size: 56px;
font-weight: 300;
line-height: 84px;
letter-spacing: -0.03em;
text-align: center;
text-underline-position: from-font;
text-decoration-skip-ink: none;

}